.container {
  width: 100%;
  z-index: 20;
  background-color: #0a0a0a;
  .content {
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 75px;
    max-width: 1217px;
    padding: 0 15px;
  }
  &.sticky {
    position: sticky;
    top: 0;
    transition: all 1s ease-in-out;
    animation: stickys 0.5s;
  }
}
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;

  li {
    p {
      position: relative;
      margin: 0 15px;
      font-weight: 550;
      transition: all 0.2s;
      font-size: 16px;
      padding: 0 15px;
      text-transform: uppercase;
      line-height: 75px;
    }
  }
  li {
    color: white;
    position: relative;
    &.active,
    &:hover {
      color: #cbba9c;
      cursor: pointer;
    }

    &::before {
      display: block;
      content: "";
      height: 15px;
      width: 1px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
    }
    &:first-child::before {
      display: none;
    }
  }
}

.dropDown {
  display: block;
  position: relative;
  .downIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-weight: bold;
  }
  .DownItem {
    display: none;
    z-index: 20;
    right: 0;
    top: 100%;
    position: absolute;
    min-width: 260px;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    border: 2px solid #ddd;
    background-color: #fff;
    animation: DropDown 0.2s ease-in-out;
    ul {
      padding: 15px 5px;
    }
    li {
      text-align: center;
      font-size: 18px;
      color: #0a0a0a;
      padding: 10px;
      &:hover {
        // color: #cbba9c;
        background-color: #f3f3f3;
      }
    }
  }
  &:hover {
    .DownItem {
      display: block;
    }
  }
}
.scrollTop{
  position: fixed;
  cursor: pointer;
  z-index: 999;
  bottom: calc(0% + 10px);
  right: 2%;
  width: 60px;
  height: 60px;
  opacity: 0;
  border-radius: 50%;
  display: flex;
  transition: all ease-in-out .5s ;
    justify-content: center;
    align-items: center;
  background-color: #cbba9c;

  &:hover{
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2)
  }
  &.Active{
    bottom: 5%;
    opacity:1;
  }
  
}
@keyframes DropDown {
  from {
    top: calc(100% + 10px);
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}
@keyframes stickys {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
