.LayoutContent {
  &.disbleRoll {
    height: 100%;
    overflow: hidden;
  }
}
.headerWapper {
  background-color: rgb(255, 255, 255);
  width: 100%;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color 0.3s, opacity 0.3s;
}
.headerMain {
  width: 100%;
  max-width: 1217px;
  //   height: 90px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  max-width: 100%;
  max-height: 90px;
  height: auto;
  padding: 10px 0;
  min-height: 70px;
}
.itemIcon {
  display: flex;
  height: 100%;
  justify-content: right;
  align-items: center;
  color: #7f7f7f;
  .Icon {
    padding: 5px 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: rgba(17, 17, 17, 0.85);
    }
    &::after {
      display: block;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #e5e5e5;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.cartIcon {
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.itemOnCart {
  color: #cbba9c;
  border-radius: 0;
  font-weight: bold;
  border: 2px solid #cbba9c;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 2.2em;
  height: 2.2em;
  font-size: 1em;
  line-height: 1.9em;
  &:hover {
    background-color: #cbba9c;
    color: white;
    &::after {
      height: 10px;
    }
  }
  &::after {
    transition: height 0.1s ease-out;
    bottom: 100%;
    margin-bottom: 0;
    margin-left: -7px;
    height: 8px;
    width: 14px;
    left: 50%;
    content: " ";
    position: absolute;
    pointer-events: none;
    border: 2px solid #cbba9c;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom: 0;
  }
}
.menuICon {
  height: 100%;
  display: flex;
  align-items: center;
  color: #7f7f7f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: rgba(17, 17, 17, 0.85);
  }
}
.coverLayout {
  z-index: 20;
  overflow: hidden;
  position: absolute;
  background-color: #00000057;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: nav 0.5s ease-in-out;
}
.input {
  border: 1px solid #ddd;
  width: 100%;
  color: #333;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);

  &:focus {
    box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 0%);
  }
}
.contentMenu {
  position: fixed;
  top: 0;
  background-color: rgb(255 255 255 / 98%);
  height: 100vh;
  width: 260px;
  z-index: 100;
  color: rgb(0, 0, 0);
  overflow-y: scroll;
  .searchBox {
    padding: 20px;
  }
  &.navq {
    left: 0;
    animation: nav 0.5s ease-in-out;
    box-shadow: 5px 0px 10px #888888;
  }
  &.cart {
    right: 0;
    animation: cart 0.5s ease-in-out;
    box-shadow: 0px 5px 10px #888888;
  }
}
.itemDecript {
  color: gray;
  padding-left: 10px;
  max-width: 110px;
  font-size: 15px;
}
.deleteBtn {
  display: block;
  font-size: 18px;
  color: #ccc;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  text-align: center;
  &:hover {
    color: black;
    cursor: pointer;
    border-color: black;
  }
}

.price {
  display: flex;
  font-size: 15px;
  .quantity {
    font-size: 12px;
    margin: 10px 0px;
  }
}
.cartContainer {
  padding: 30px;
  height: 100vh;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .imgItem {
    width: 60px;
    height: 60px;
  }
  .listItem {
    width: 100%;
  }
  .itemContent {
    width: 100%;
    display: flex;
  }
}
.iconDown {
  font-weight: bold;
  display: inline-block;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  &.turn {
    transform: rotate(-180deg);
  }
}
.iconDropDown {
  position: absolute;
  padding: 0 20px;
  height: 100%;
  top: 50%;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.menuList {
  transition: all 0.2s ease;

  li {
    border-top: 1px solid #ececec;
    padding: 20px;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(102, 102, 102, 0.85);
    transition: all 0.2s ease;
    cursor: pointer;
    &.active,
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(17, 17, 17, 0.85);
    }
  }
  li:last-child {
    color: black;
    line-height: 30px;
    p {
      display: inline-block;
      font-size: 15px;
    }
    &:hover {
      background-color: #ffffff33;
      cursor: default;
    }
    &::before {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      margin-right: 10px;
      content: "";
      background: transparent
        url("http://mauweb.monamedia.net/rolex/wp-content/uploads/2018/07/customer-service.svg")
        no-repeat;
      background-size: 1.5em 1.5em;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}
.itemContent {
  padding: 15px 0 5px 0;
  border-bottom: 1px solid rgba(182, 182, 182, 0.199);
}
.totalPrice {
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgba(182, 182, 182, 0.199);
  color: #111;
}
.subMenu {
  padding-left: 8px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.05);

  div {
    padding: 10px 20px;
    font-size: 16px;
    color: rgba(102, 102, 102, 0.85);
    text-transform: uppercase;
    font-weight: 300;
    animation: subAnimation 0.5s ease-in-out;
  }
}
.checkoutContainer {
  padding: 15px 0;
  .checkOut,
  .SeeCart {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
    }
  }
  .SeeCart {
    background-color: #cbba9c;
  }
  .checkOut {
    background-color: #d26e4b;
  }
}
.searchContainer {
  width: 0;
  transition: all 0.5s ease-in-out;
  .searchInout {
    width: 100%;

    border-color: transparent;
    padding: 8px 0;
  }
  &.active {
    width: 250px;
    max-width: 250px;
    .searchInout {
       border-color: #ddd;
       padding: 8px;
    }
  }
}
@keyframes cart {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes nav {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes subAnimation {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
