.counter {
  height: auto;
  padding-bottom: 200px;
  // margin-bottom: 70px;
background-color: black;
  overflow: hidden;
  padding-top: 360px;
  overflow: hidden;
  .container {
    max-width: 1217px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.counter__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter__item {
  background:  #cbba9c;
  transform: rotate(45deg);
  height: 255px;
  width: 255px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 661px;
    width: 659px;

    border-left: 3px solid #585656;
    border-top: 3px solid #585656;
    content: "";
    z-index: -1;
  }
  &.second__item::before {
    left: -326px;

    bottom: -80px;
    border-right: 3px solid #585656;
    border-bottom: 3px solid #585656;
    border-left: none;
    border-top: none;
  }
  &.third__item::before {
    left: -78px;
    bottom: -328px;
  }
  &.four__item::before {
    left: -402px;
    bottom: -406px;

    border-right: 3px solid #585656;
    border-bottom: 3px solid #585656;
    border-left: none;
    border-top: none;
  }
  &.four__item,
  &.second__item {
    margin-top: -185px;
  }
}
.coll {
  position: relative;
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.counter__item__text {
  transform: rotate(-45deg);
  h2 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 18px;
  }
  p {
    color: #ffffff;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1217px) {
  .counter {
    padding: 70px 0;
  }
  .counter__item {
    transform: rotate(0deg);
    border: 3px solid #333333;
    &::before {
      display: none;
    }
    &.four__item,
    &.second__item {
      margin-top: 0;
    }
  }
  .coll {
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
  .counter__item__text {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 990px) {
  .counter__item {
    width: 90%;
  }
}
