.content {
  padding: 15px;
}
.inputDiscount {
  div {
    border: none !important;
    box-shadow: none !important;
  }
}
.Drop{
    border-radius: 0;
   span{
    line-height: 30px;
    font-size: 30px;
   }
}
