.content {
  padding: 0 15px 15px  15px;
}
.inputDiscount {
  div {
    border: none !important;
    box-shadow: none !important;
  }
}
.inputDiscountCB > div {
  color: red;
}
.Drop {
  border-radius: 0;
  span {
    line-height: 30px;
    font-size: 30px;
  }
}
.titleLable {
  font-size: 18px;
  overflow: hidden;

  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
