.content {
  padding: 0 15px 15px  15px;
}
.inputDiscount {
  div {
    border: none !important;
    box-shadow: none !important;
  }
}
.inputDiscountCB > div {
  color: red;
}
.Drop {
  border-radius: 0;
  span {
    line-height: 30px;
    font-size: 30px;
  }
}
.titleLable {
  font-size: 18px;
  overflow: hidden;

  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notify{
  background-color:white;
  width: 500px;
  height: 400px;
}
