html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.xxx {
  top: 0;
  transition: all 1s ease-in-out;
  height: 100px;
  width: 100%;
  background-color: #000;
}
.xxx.sticky {
  position: sticky;
  height: 100px;
  animation: sticky 1s;
}
@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
